<%- include("header"); %>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, repudiandae dolore excepturi libero numquam hic exercitationem officiis quasi iure nam repellat, illo odit saepe minus quis veniam praesentium, non totam.</p>
    <%- include("footer"); %>